*{font-family: sans-serif;}

header{
    background-color: black;
    height: 10vh;
}
main{
    background:url(https://e1.pxfuel.com/desktop-wallpaper/843/381/desktop-wallpaper-rick-and-morty-space-rick-and-morty-outer-space.jpg);
    background-size: cover;
    height: 80vh
};
.scorebox{
    border: 1px solid white;
}

#container{
    width: 90%;
    margin: auto;
    height: 70vh;
    background-color: black;
}

.box-numeri{
    padding: 4% 0%;
}

.box{
width:calc(100% / 10) ;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid white;
color: white;
}


.box-facile,.box-medio,.box-difficile{
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    border: 1px solid  white;
}

.box-facile{width: calc(100% / 10);}
.box-medio{width: calc(100% / 9);}
.box-difficile{width: calc(100% / 7);}
.highlight{
    background: url(https://wallpaperaccess.com/full/3958017.jpg);
    background-size: cover;
    color: white;
}
.errorbox{
    background: url(https://media.tenor.com/_9TTTkaZdCkAAAAd/xplosion-uranus101.gif);
    background-size: cover;
}

